.formulario{
    width: 30%;
    margin: 15px;
    padding: 10px;
}

.formulario1{
    width:30%;
    margin: 20px;
    padding: 10px;
    background-color: green;
}

.formulario2{
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: yellowgreen;
}